
$c-xxs: .25rem; // 4px
$c-xs: .5rem; // 8px
$c-s: 0.625rem; // 10px
$c-m: 1rem; // 16px
$c-l: 1.25rem; // 20px
$c-xl: 2rem; // 32px
$c-xxl: 3rem; // 48px

$color-dark: #000000;
$color-grey: #555555;
$color-grey-light: #e6e6e6;
$color-light: #ffffff;
$color-blue: #0e9696;
$color-green: #7cb342;

$font-default: Arial, serif;
$font-default-size: 16px;
$font-default-color: $color-dark;
$font-default-color-bg: $color-blue;
